<!DOCTYPE html>
<html lang="en">
<head>
  <title>Action Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/dataTables/css/jquery.dataTables.css">

  <script type="text/javascript" src="/libs/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="/libs/dataTables/js/jquery.dataTables.js"></script>

  <script type="text/javascript" src="/libs/moment-with-locales.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var action_map = {{{ json }}};
</script>

<div class="container">
  <h2>Action Tracker</h2>
  <p>Prototyping with DataTables</p>

  <p>
    <button type="button" class="updateModal btn btn-success pull-right" data-id="" data-toggle="modal" data-target="#editModal">
      <span class="glyphicon glyphicon-plus"></span> Add an action item
    </button>
  </p>

  <table class="table table-striped table-hover" id="tbl_ap">
    <thead>
      <tr>
        <th>#</th>
        <th>Action/Task</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Create Time</th>
        <th>Last Update</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each actions}}
      <tr>
        <td></td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{owner}}</td>
        <td>{{create_at_ago}}</td>
        <td>{{update_at_time}}</td>
        <td>
          <a class="updateModal btn btn-primary" data-id="{{_id}}" data-toggle="modal" data-target="#editModal">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal for add/edit an action item-->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add an action point</h4>
      </div>

      <div class="modal-body">

        <form>
          <input id="_id" value="" style="display:none;"/>

          <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" required>
              <option value="">-- Select --</option>
              <option value="CIF meeting">CIF meeting</option>
              <option value="RCA/EDA">RCA/EDA</option>
              <option value="Retrospective">Retrospective</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">Action/Task:</label>
            <input class="form-control" id="title" required/>
          </div>

          <div class="form-group">
            <label for="desc">Description:</label>
            <textarea class="form-control" style="resize: vertical;max-height:400px; min-height:100px;" rows="5" id="desc"></textarea>
          </div>

          <div id="grp_history" class="form-group" style="display:none;">
            <label for="history">History:</label>
            <textarea class="form-control" style="resize: vertical;max-height:400px; min-height:100px;" rows="5" id="history"></textarea>
          </div>

          <div class="form-group">
            <label for="owner">Owner:</label>
            <input class="form-control" id="owner"/>
          </div>

          <div class="form-group">
            <label for="optradio">Status:</label><br>
            <label class="radio-inline"><input type="radio" name="status" value='New' checked>New</label>
            <label class="radio-inline"><input type="radio" name="status" value='Ongoing'>Ongoing</label>
            <label class="radio-inline"><input type="radio" name="status" value='Done'>Done</label>
            <label class="radio-inline"><input type="radio" name="status" value='Cancelled'>Cancelled</label>
            <label class="radio-inline"><input type="radio" name="status" value='Blocked'>Blocked</label>
            <label class="radio-inline"><input type="radio" name="status" value='Suspended'>Suspended</label>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button id="delete" type="button" class="btn btn-success" style="display:none;">Delete</button>
        <button id="save" type="button" class="btn btn-success">Save</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

  $(document).ready( function () {
    var t = $('#tbl_ap').DataTable( {
      "columnDefs": [ {
          "searchable": false,
          "orderable": false,
          "targets": 0
        } ],
      "order": [[ 1, 'asc' ]]
    });

    t.on( 'order.dt search.dt', function () {
      t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
          cell.innerHTML = i+1;
      } );
    } ).draw();

    //triggered when modal is about to be shown
    $('#updateModal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var dataId = $(e.relatedTarget).data('id');
        console.log("data-id:" + dataId);

        //populate the textbox
        $(e.currentTarget).find('button[name="delete"]').data("id", dataId);
        $(".modal-footer #delete").data("id", dataId);
    });

    $('.updateModal').on( 'click', function () {
      //console.log('action_map: ' + JSON.stringify(action_map) );
      if ( $(this).parent().hasClass('selected') ) {
        $(this).parent().removeClass('selected');
      }
      else {
        t.$('tr.selected').parent().removeClass('selected');
        $(this).parent().addClass('selected');
      }

      var dataId = $(this).data('id');
      console.log('action: ' + JSON.stringify(action_map[dataId]) );

      if (dataId !== "") {
        $(".modal-title").text( 'Edit an action point' );
        //$(".modal-footer #delete").data("id", dataId);  // set data-id attr for deletion
        $("#delete").show();
        $('.modal-body #title').data("id", dataId);
        $("#grp_history").show();

        //$(".modal-body #_id").val( dataId );
        $('.modal-body #category').val( action_map[dataId].category );
        $(".modal-body #title").val( action_map[dataId].title );
        $(".modal-body #desc").val( action_map[dataId].desc );
        $(".modal-body #owner").val( action_map[dataId].owner );
        $(".modal-body #history").val( action_map[dataId].history );
        $("input[name=status][value=" + action_map[dataId].status + "]").attr('checked', 'checked');
      } else {
        $("#delete").hide();
        $("#grp_history").hide();
      }

    });

    $('#delete').on( 'click', function () {
      var yes = confirm('Are you sure you want to delete this action?');
      if (yes) {
        $.ajax({
          type: 'DELETE',
          url: '/delete/' + $('#_id').val()
        }).done(function( response ) {
          if (response.msg === '') {
            // TODO: update the table
            t.row('.selected').remove().draw( false );  // draw(false): redraw the table keeping the current paging
          }
          else {
            alert('Error: ' + response.msg);
          }
        });
      } else {
        return false;
      }

    });

    $('#save').on( 'click', function () {
      var data = {
        title:    $('#title').val(),
        desc:     $('#desc').val(),
        status:   $('input[name=status]:checked').val(),
        owner:    $('#owner').val(),
        category: $('#category').val()
      };

      $.ajax({
        url: '/add',
        dataType: 'json',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),

        success: function(action, textStatus, jQxhr) {
          console.log('success');
          console.log('client:' + JSON.stringify(action));

          moment.locale('zh-cn');

          t.row.add( [
            '',
            action.title,
            action.status,
            action.owner,
            moment(action.create_at).fromNow(),
            moment(action.update_at).format('YYYY-MM-DD HH:mm'),
            '<a class="updateModal btn btn-primary" data-id="' + data._id + '" data-toggle="modal" data-target="#editModal"> <span class="glyphicon glyphicon-edit"></span> </a>'
          ] ).draw( false );

        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
      });

    } );  // end of onclick

  } );

</script>
</body>
</html>