<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apace Action Tracker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/dataTables/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/libs/jquery-datetimepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <script type="text/javascript" src="/libs/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="/libs/dataTables/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/libs/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
  <script type="text/javascript" src="/libs/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/libs/lodash.js"></script>
  <script type="text/javascript" src="/libs/jquery.autocomplete.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var action_map = {{{ action_map }}};
  var name_list = {{{ name_list }}};  // for auto-complete of AP owners
</script>

<div class="container">
  <a href="/"><img src="/images/logo.png" alt="Apace" height="85px" width="138px"></a>
  <span class="title">
    <sub>super-fast action tracker</sub>
  </span>
</div>

<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
    <li><a href="#setting" data-toggle="tab">Setting</a></li>
    <li><a href="#help" data-toggle="tab">Help</a></li>
    <li class="pull-right" id="li_login"><a href="#login" data-toggle="tab">Login</a></li>
    <li class="pull-right" id="li_my"><a href="#my" data-toggle="tab"><label>User</label>
      <button class="close" type="button" title="Remove">×</button></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="main">

      <div style="text-align: center; margin: 10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dlgModal">
          <span class="glyphicon glyphicon-plus"></span> Add an action item
        </button>
      </div>

      <table class="table table-striped table-hover" id="tblAction">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Owner</th>
            <th>LE</th>
            <th>Last Update</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each actions}}
          <tr id="{{_id}}">
            <td></td>
            <td>{{ title    }}</td>
            <td>{{ category }}</td>
            <td>{{ status   }}</td>
            <td>{{ owner    }}</td>
            <td>{{ le_time  }}</td>
            <td>{{ update_at_ago }}</td>
            <td>
              <a class="btn btn-primary" data-id="{{_id}}" data-toggle="modal" data-target="#dlgModal">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="setting">
      <div class="panel panel-info" style="margin: 10px">
        <div class="panel-heading">
          <h3 class="panel-title">Global Settings</h3>
        </div>
        <div class="panel-body">
          <p>TODO</p>
        </div>
      </div>

      <div class="panel panel-info" style="margin: 10px">
        <div class="panel-heading">
          <h3 class="panel-title">Personal Settings</h3>
        </div>
        <div class="panel-body">
          <p>TODO</p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="help">
      <div class="panel panel-info" style="margin: 10px">
        <div class="panel-heading">
          <h3 class="panel-title">Keyboard Shortcuts</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><kbd>/</kbd>: search</li>
            <li><kbd>ctrl</kbd> + <kbd>a</kbd>: add</li>
            <li><kbd>ctrl</kbd> + <kbd>e</kbd>: edit</li>
            <li><kbd>ctrl</kbd> + <kbd>d</kbd>: delete</li>
            <li><kbd>ctrl</kbd> + <kbd>s</kbd>: save</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="login">
      <div class="container" style="width:300px">
        <form class="form-signin">
          <h3 class="form-signin-heading">Please sign in</h3>
          <label for="uid" class="sr-only">Employee ID</label>
          <input type="text" id="uid" class="form-control" placeholder="Any Nokia account" required autofocus>
          <label for="pass" class="sr-only">Password</label>
          <input type="password" id="pass" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button id="btnLogin" class="btn btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="alert alert-warning" role="alert"></div>
      </div> <!-- /container -->
    </div>

    <div class="tab-pane" id="my">
      <div class="panel panel-info" style="margin: 10px">
        <div class="panel-heading">
          <h3 class="panel-title">Actions on me</h3>
        </div>
        <div class="panel-body">
          <p>TODO</p>
        </div>
      </div>

      <div class="panel panel-info" style="margin: 10px">
        <div class="panel-heading">
          <h3 class="panel-title">Actions created by me</h3>
        </div>
        <div class="panel-body">
          <p>TODO</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Common modal for add/edit an action item-->
<div id="dlgModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblModal">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="lblModal">Add|Edit an action point</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" required/>
          </div>

          <div class="form-group">
            <label for="desc">Description:</label>
            <textarea class="form-control" style="resize: vertical;max-height:400px; min-height:60px;" id="desc"
              placeholder="optional"></textarea>
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" required>
              <option value="" selected>-- Select --</option>
              <option value="CIF meeting">CIF meeting</option>
              <option value="RCA/EDA">RCA/EDA</option>
              <option value="Retrospective">Retrospective</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ref">Reference:</label>
            <input type="text" class="form-control" id="ref" placeholder="PR#, Feature ID, meeting, etc., optional"/>
          </div>

          <div class="form-group">
            <label for="owner">Owner:</label>
            <input type="text" class="form-control" id="owner" placeholder="Pls provide email when name not prompted" required/>
          </div>

          <div class="form-group">
            <label for="le">LE:</label>
            <input type="text" class="form-control" id="le" required/>
          </div>

          <div class="form-group" id="grp_status" style="display:none;">
            <label for="optradio">Status:</label><br>
            <label class="radio-inline"><input type="radio" name="status" value='New'>New</label>
            <label class="radio-inline"><input type="radio" name="status" value='Ongoing'>Ongoing</label>
            <label class="radio-inline"><input type="radio" name="status" value='Done'>Done</label>
            <label class="radio-inline"><input type="radio" name="status" value='Suspended'>Suspended</label>
            <label class="radio-inline"><input type="radio" name="status" value='Blocked'>Blocked</label>
            <label class="radio-inline"><input type="radio" name="status" value='Cancelled'>Cancelled</label>
          </div>

          <!--div class="form-group" id="grp_status1">
            <label for="optradio1">Status2:</label><br>
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-info">New</button>
              <button type="button" class="btn btn-primary">Ongoing</button>
              <button type="button" class="btn btn-success">Done</button>
              <button type="button" class="btn btn-warning">Suspended</button>
              <button type="button" class="btn btn-danger">Blocked</button>
              <button type="button" class="btn btn-default">Cancelled</button>
            </div>
          </div-->

          <div class="form-group" id="grp_history" style="display:none;">
            <label for="history">History:</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Date/author will be added as prefix automatically" id="history">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div><!-- /input-group -->

            <ul class="list-group">
            </ul>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="deleteAction" type="button" class="btn btn-danger" style="display:none;">Delete</button>
        <button id="saveAction" type="button" class="btn btn-success">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="/javascripts/apace.js"></script>
<script type="text/javascript" src="/javascripts/kbd.js"></script>
<script type="text/javascript" src="/javascripts/autocomplete.js"></script>

</body>
</html>